a {
  color: #856c8b;
  font-family: 'Montserrat', sans-serif;
margin:10px 20px;
text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
 color: #40514e;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  margin-bottom: 0px;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
h4 {font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Satisfy', cursive;
  color: #66BFBF;
 margin-top: 0px;
  margin-bottom: 0px;
}
hr{
  margin: 100px auto 100px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #ededed ;
  border-width: 6px;
  width:5%;
}
.hell {
  width: 30%;
  margin: auto;
}
.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
 background-color: #beebe9;
 padding-left: 20px;
padding-top: 40px;
margin-bottom: 0px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: relative;
  left: 280px;
  top: 60px;
}
.middle-cloud {
  position: relative;
right: 400px;

}
.bottom-cloud {
  position: relative;
  left: 100px;
  bottom: 250px;
}
.mountain {
  position: relative;
  right:30px;
  margin-bottom: 0;
}

.cute-tenor{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.happy-tenor{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.work-tenor{
      width: 25%;
      float: left;
      margin-right: 30px;
}

.cute-teno {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contactme {
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.contactme {
  background-color: #11cdd4;
  color: white;
  border: 2px solid #11cdd4;
}

.contactme:hover {
  background-color: #30a3cb;
  color: white;
}
